html{
	font-size: 16px;
}
body{
	font-family: 'Lato', Helvetica, sans-serif;
	background-color: #e9e2ba;
	background-image: url('../images/design-bg.png');
	background-size: 20%;
	background-repeat-x: inherit;
	background-repeat-y: inherit;
}

header{
	padding: 1.8rem 0.8rem;
	text-align: center;
}

header .logo img{
	width: 5rem;
}

/*End of header*/

/*introduction section*/

h1{
	font-size: 2.5rem;
}

.introduction .title span{
	color: #ffffff;
	font-weight: 400;
}

.introduction .title:not(span){
	color: #343d46;
	font-weight: 100;
	margin-bottom: 0;
}

.introduction .sub-title{
	font-size: 1rem;
	font-weight: 600;
	color: #ffffff;
	margin-bottom: 0;
	margin-top: 1rem;
}

section.introduction .title{
  animation-delay: 0.5s;
  -webkit-animation-delay: 0.5s;
  -moz-animation-delay: 0.5s;
}

section.introduction .sub-title{
  animation-delay: 0.7s;
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
}


/*End of introduction section*/

/* PORTFOLIO */

/*Testing image grids*/

section.portfolio{
	text-align: center;
	background-color: #479cf7;
	margin-top: 2rem;
}

section.portfolio h2{
	font-size: 2rem;
	margin-top: 2rem;
}

section.portfolio p{
	font-size: 1rem;
	color: #ffffff;
}



section.portfolio .first-list{
  width: 50%;
  margin: 0 auto;
}

section.portfolio .thumb.is-visible{
  opacity: 1;
  transform: translateX(0px);
}
section.portfolio .thumb{
    display: block;
    background-size: cover;
    background-position: center;
    width: 150px;
    height: 150px;
    float: left;
    position: relative;
    overflow: hidden;
    opacity: 0;
    -webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
    transform: translateX(-20px);
    transition: all 300ms ease-in-out
}

/*Fist image*/
section.portfolio .article-meta {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.5);
    color: white;
    padding: 10px;
    -webkit-transform: translate(0%, 100%) scale(1.5);
    -ms-transform: translate(0%, 100%) scale(1.5);
    transform: translate(0%, 100%) scale(1.5);
    transition: all 200ms ease-in-out;
    opacity: 0;
}

section.portfolio .article-meta .name {
    font-size: 1rem;
    font-weight: bold;
    line-height: 1.2;
}

section.portfolio .article-meta .date{
  font-style: italic;
  font-weight: bold;
  font-size: 1rem;
}



section.portfolio .thumb:hover .article-meta {
    opacity: 1;
    -webkit-transform: translate(0%, 0%) scale(1);
    -ms-transform: translate(0%, 0%) scale(1);
    transform: translate(0%, 0%) scale(1);
}

/*testing tada*/

   section.portfolio .thumb.animating {
      -webkit-animation-name: jello;
              animation-name: jello;
      -webkit-animation-duration: 1s;
              animation-duration: 1s;
      -webkit-animation-fill-mode: both;
              animation-fill-mode: both;
      z-index: 1; }


/*Changing date font color*/
.first-list a:nth-child(1) .date{
  color: #FFDD55;
}

.first-list a:nth-child(2) .date{
  color: #97c024;
}

.first-list a:nth-child(3) .date{
  color: #00B294;
}

.first-list a:nth-child(4) .date{
  color: #97c024;
}
.first-list a:nth-child(5) .date{
  color: #97c024;
}
.first-list a:nth-child(6) .date{
  color: #FFDD55;
}
.first-list a:nth-child(7) .date{
  color: #FFDD55;
}

.first-list a:nth-child(8) .date{
  color: #FFDD55;
}

/*Changing position on portfolio images*/
.first-list a:nth-child(6){
  background-position: top center;
}
.first-list a:nth-child(8){
  background-position: 30%;
}

/*End of portfolio*/

/*Contact Me*/

.contact{
  padding: 2rem 0;
  text-align: center;
}

.contact h2{
	font-size: 2rem;
  color: #343d46;
}

.contact p{
  color: #ffffff;
  font-weight: 600;
  font-size: 1rem;
}


.contact .social2{
	display: flex;
	justify-content: space-around;
}

.contact .social2 img{
	width: 58px;
}

.contact .social2 a:nth-child(1) img{
	border-radius: 50%;
	box-shadow: 0px 17px 10px -10px rgba(0,0,0,0.4);
	transition: all 0.3s ease-in-out;
}

.contact .social2 a:nth-child(2) img{
	border-radius: 10px;
  	box-shadow: 0 17px 10px -10px rgba(0,0,0,0.4);
  	transition: all 0.3s ease-in-out;
}

.contact .social2 a:nth-child(1) img:hover{
	box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
  	transform: translate(0px, -10px);
  	background: #ffffff;

}

.contact .social2 a:nth-child(2) img:hover{
	box-shadow: 0px 37px 20px -20px rgba(0,0,0,0.2);
  	transform: translate(0px, -10px);
  	background: #ffffff;
}

/*Footer*/

footer{
	text-align: center;
	background: #3a5d9c;
}

footer p {
	font-size: 1rem;
	color: #ffffff;
	margin-bottom: 0;
}

/*End of footer */

/*-=============MEDIA QUERIES-=============*/

/* Larger than mobile */
@media (min-width: 400px) {

section.portfolio .first-list{
  width: 100%;
}

} /*end of mobile 400*/

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {

section.portfolio .first-list{
  width: 105%;
}


}

/* Larger than tablet */
@media (min-width: 750px) {
html{
	font-size: 18px;
}
section.portfolio .first-list{
  width: 77%;
}

}

/* Larger than desktop */
@media (min-width: 1000px) {
html{
	font-size: 20px;
}
section.portfolio .first-list{
  width: 100%;
}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
html{
	font-size: 22px;
}

.contact .social2 img{
	width: 5rem;
}
}